.left-off-canvas-toggle.menu-icon {
    @media #{$large-up} {
        display: none;
    }
}

.index-menu {
    @media #{$large-up} {
        @include grid-column(
            $columns:2,
            $float:left
          );

        ul {
            @include off-canvas-list;
        }
    }

    @media #{$medium-down} {
        @include left-off-canvas-menu;

        ul {
            @include off-canvas-list;
        }
    }

    .codeship {
        margin: 1rem auto;
        background: image-url('logo_codeship.png');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 100%;
        width: 80%;
        height: 40px;
    }
}

.main-section {
    background: $main-section-bg;
    padding-top: 1rem;

    @media #{$large-up} {
        @include grid-column(
            $columns:10,
            $float:left
          );
    }

    @media #{$medium-down} {
        @include grid-column(
            $columns:12,
            $float:left
          );
    }
}

#categories {
    @media #{$large-up} {
        .gutter-sizer { width: 3.33%; }
        .category-item {
            width: 30.33%;
            margin-bottom: 3%;
        }
    }

    @media #{$medium-only} {
        .gutter-sizer { width: 3%; }
        .category-item {
            width: 48%;
            margin-bottom: 3%;
        }
    }


    @media #{$small-only} {
        .gutter-sizer { width: 0%; }
        .category-item {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}

.category-item {
    @include box-shadow(0 0 2px #777);
    background: #fff;

    .title {
        @include box-sizing(border-box);
        padding: 1rem;
        background: $highlight-bg;
        display: block;
        width: 100%;
        color: white;
        top: 4px;
        position: relative;

        &:hover {
            background: $highlight-hover-bg;
        }
    }

    ul {
        @include side-nav;
        margin: 1rem;
    }
}
