- content_for :title, category_to_title(category)

%section.category
  %h1 #{category_to_title category}

  %ul.category-list
    - page_articles.each_with_index do |article, i|
      - if article.published?
        %li
          = link_to article_title(article), article
