%h1 Overview
%h2 Index
%ul
  %li Getting Started
  %li Configure Build and Test Environment
  %li Configure Deployments
  %li Managing your project
  %li Supported Languages and Frameworks
  %li Installed Databases, Queues and Datastores
  %li Installed Browsers for Testing
  %li FAQ
  %li Codeship Security and Infrastructure
  %li Useful Links

%h2 Content
%ul
  %li
    Getting Started
    %ul
      %li How to test and deploy a Rails app from Github to Heroku
      %li How to test and deploy a node.js app from Bitbucket to nodejitsu
  %li
    Configure Build and Test Environment
    %ul
      %li Setup and Test Commands
      %li Set Environment Variables
  %li
    Configure Deployments
    %ul
      %li Create Deployment Pipelines
      %li Deploying to Heroku
      %li Deploying to Engine Yard
      %li Deploying to Nodejitsu
      %li Deploying to Google App Engine
      %li Deploying to DotCloud
      %li Deploying to CloudFoundry
      %li Deploying to Modulus.io
      %li Deploying with Capistrano
      %li Deploying a Middleman app to AWS
      %li Deploying to your own FTP Server
      %li Deploying to Digital Ocean
      %li Deploying an angular app to Heroku
      %li Deploying with your own Script
  %li
    Managing your project
    %ul
      %li Manage Team member
      %li Transfer Project Ownership
      %li Setup 3rd party notification systems
  %li
    Supported Languages and Frameworks
    %ul
      %li Ruby
      %li Python
      %li Node.js
      %li Java and JVM based languages
      %li PHP
      %li Dart
      %li Google Go
  %li
    Installed Databases, Queues and Datastores
    %ul
      %li Postgresql
      %li SQLite
      %li Mysql
      %li MongoDB
      %li Redis
      %li ElasticSearch
      %li Beanstalkd
      %li Memcached
  %li
    Installed Browsers for Testing
  %li
    FAQ
    %ul
      %li My push to heroku got rejected
      %li Access to other repositories fails during the build
      %li Can I keep build result files
      %li Can I skip and ignore a build
      %li Can we limit the branches that are built
      %li Can't find gems to install them
      %li No such file or directory config - something.yml
      %li Pending step in cucumber fails build
      %li Tests are idle and abort after 10 minutes - Run a command in the background
      %li Where can I find the SSH Public Key for my project
  %li
    Codeship Security and Infrastructure
    %ul
      %li OS & Virtualization
      %li Firewall
  %li
    Useful Links
    %ul
      %li Check out our Blog for information about testing, continuous deployment and software development in general
      %li Information about CI and CD



