%section.index
  %h1 Overview

  .overview
    .getting-started
      .index
        %h4 Getting Started
        %ul.category-list
          %li
            = link_to "Tutorials", category_path("Tutorials")
          %li
            %a{href: "languages-and-frameworks"}Languages
          %li
            %a{href: "databases-and-queues"}Datastores
          %li Setting up your tests
          %li Setting up your deployments

    .troubleshooting
      .index
        %h4 I ran into some issues
        %ul.category-list
          %li issue1
          %li issue1
          %li issue1
          %li issue1
