%section.index
  %h1 Overview

  .overview
    .getting-started
      .index
        %h4 Getting Started
        %ul.category-list
          %li Languages
          %li Databases
          %li Setting up your tests
          %li Setting up your deployments

    .troubleshooting
      .index
        %h4 I ran into some issues
        %ul.category-list
          %li issue1
          %li issue1
          %li issue1
          %li issue1
