%section.index
  %h1 Overview

  .overview
    .getting-started
      .index
        %h4 Getting Started
        %ul.category-list
          %li
            = link_to "Tutorials", category_path("Tutorials")
          %li
            = link_to "Languages", category_path("languages-and-frameworks")
          %li
            = link_to "Datastores", category_path("databases-and-queues")
          %li
            = link_to "Continuous Deployment", category_path("continuous-deployment")

    .troubleshooting
      .index
        %h4 I ran into some issues
        %ul.category-list
          %li issue1
          %li issue1
          %li issue1
          %li issue1
